:host {
  display: block; /* Asegura que el host tenga dimensiones */
}

p-calendar {
  width: auto; /* Ajusta el ancho del calendario */
}

.p-calendar-inline {
  width: auto !important; /* Asegura que el calendario inline se ajuste */
}