<div class="auth-container">
    <h2>Create Account</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Mail:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched)">
          <div *ngIf="signupForm.controls['email'].errors?.['required']">Mail is required.</div>
          <div *ngIf="signupForm.controls['email'].errors?.['email']">Invalid mail format.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
        <div *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)">
          <div *ngIf="signupForm.controls['password'].errors?.['required']">Password is required.</div>
          <div *ngIf="signupForm.controls['password'].errors?.['minLength']">Password must be at least 6 characters.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
        <div *ngIf="signupForm.controls['confirmPassword'].invalid && (signupForm.controls['confirmPassword'].dirty || signupForm.controls['confirmPassword'].touched)">
          <div *ngIf="signupForm.controls['confirmPassword'].errors?.['required']">Password confirmation is required.</div>
          <div *ngIf="signupForm.errors?.['passwordMismatch']">Passwords do not match.</div>
        </div>
      </div>
      <button type="submit" [disabled]="signupForm.invalid || signupForm.errors?.['passwordMismatch']">Register</button>
      <p> Do you have an account? <a routerLink="/login">Login</a></p>
    </form>
  </div>